<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h2 style="font-family:cursive;">Registration</h2>
<body style="background-color:#FFFACD">
<div style="width:50%;margin:auto">
<form action="register" method="post">
    {% csrf_token %}
<form method="post" action="Login.html">
    <i>Name:</i>
    <input type="text" name="username" placeholder="Enter your username"><br/><br/>
    <input type="text" name="first_name" placeholder="Enter your first name"><br/><br/>
    <input type="text" name="last_name" placeholder="Enter your last name"><br/><br/>
    <i>Email:</i>
    <input type="email" name="email" placeholder="Enter your email"><br/><br/>
    <i>Password:</i>
    <input type="password" name="password" placeholder="Enter Password"><br>
    <input type="password" name="confirm_password" placeholder="Conform Password"><br/><br/>

    <input type="submit"/><br/><br/>
    </a>

</form>
    {% for msg in messages %}
    <h2>{{msg}}</h2>
    {% endfor %}
</body>

</html>